.rowImage {
  background-image: url("https://th.bing.com/th/id/R.3c47c70b75e6ace8f6a606bd6ff96e45?rik=2uyjIfk0%2bG%2f78w&pid=ImgRaw&r=0");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 160px;
}

.shadow {
  text-shadow: 4px 4px 4px black;
}
