/*con &__img le digo que es el hijo de main-product*/
.main-product {
  display: grid;
  grid-template-areas:
    "img"
    "title"
    "stars"
    "price"
    "description";

  @media (min-width: 1150px) {
    grid-template-areas:
      "img title title"
      "img stars stars"
      "img price price"
      "img description description";
  }

  &__img {
    grid-area: img;
    width: 100%;
    margin: auto;
    max-width: 600px;
    min-width: 200px;
  }
  &__title {
    grid-area: title;
  }
  &__stars {
    grid-area: stars;
  }
  &__price {
    grid-area: price;
  }
  &__description {
    grid-area: description;
    font-size: 25px;
  }
}

.size {
  height: 300px;
  width: 100%;
}
